// Colors
$primary-color: #00aeef;
$title-color: #434a4f;
$body-color: #7a858d;
$footer-gray: #434a4f;
$divider-gray: #d3dee6; 
$black: #000;
$white: #fff;

// Clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
/*
Usage:
	.container-with-floated-children { @extend %clearfix;}
*/

//Visually hidden
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
/*
Usage:
	.visually-hidden {@extend %visuallyhidden;}
*/
